
.pool{
    height: 250px;
     width:100px;
     display: flex;
     justify-content: center;  /* 水平方向居中 */
     align-items:center;    /* 垂直方向底部对齐 */
    /* line-height: 200px; */
    border: 1px solid #539AF7;
    .pool-name{
        height: 20%;
        line-height: 45px;
        width: 100%;
        /* border: 1px solid red; */
        font-size: 20px;
        text-align: center;
        vertical-align: middle;
        top: 50%;  
        left: 50%;
        transform: translate(0,0);
        color: #539AF7;
    }
    .pool-line{
        position: relative;
        height: 40%;
        line-height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;  /* 水平方向居中 */
        align-items: flex-end;    /* 垂直方向底部对齐 */
        /* border: 1px solid red; */
        .number{
            position: absolute;
            height: 50px;
            line-height: 50px;
            width: 150px;
            text-align: center;
            vertical-align: middle;
            font-size: 40px;
            /* top: -50%;  
            left: 50%;
            transform: translate(-50%,0); */
             /* border: 1px solid red; */
            color: #3cb371;
        }
       
        .line{
            position: absolute;
            /* display: flex; */
            //justify-content: center;   /* 水平方向居中 */
            //align-items:self-end;     /* 垂直方向底部对齐 */
            height: 100px;
            line-height: 90px;
            width: 100%;
            text-align: center;
           
            /* vertical-align:baseline; */
            /* top: 60%;  
            left: 50%;
            transform: translate(-50%,-40%); */
            color: #539AF7;
            // border: 1px solid red;
            font-size: 15px;
        }
        .line:hover{
            color: white;
            background-color: #539AF7;
            opacity: 0.3;
            cursor: pointer;
            }
        
    }
   
    
}